<p>start-page works!</p>
<p>
  Стартовая. Наполнение большого значения не имеет, и может содержать любую инфу. Главные
  требования: должна содержать кнопку LogIn (вызывает диалоговое окно с возможностью ввода
  логина/пароля), а также скрытый sidebar с меню, если пользователь еще не авторизован. Любые
  попытки перейти по различным адресам внутри приложения должны редиректить неавторизированного
  пользователя на эту страницу
</p>
<pre>
    "login": "admin",
    "password": "admin123",
    "role": "admin"
</pre>
<pre>
    "login": "user",
    "password": "user123",
    "role": "user"
  </pre
>
<pre>
    "login": "aa",
    "password": "aa",
    "role": "guest"
  </pre
>
