<div class="sidebar">
  <ul class="sidebar__menu">
    <li class="sidebar__menu-item">
      <a
        class="sidebar__menu-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Start Page</a
      >
    </li>
    <li class="sidebar__menu-item">
      <a class="sidebar__menu-link" routerLink="/fbi-wanted" routerLinkActive="active"
        >FBI Wanted</a
      >
    </li>
    <li class="sidebar__menu-item">
      <a class="sidebar__menu-link" routerLink="/settings" routerLinkActive="active">Settings</a>
    </li>
  </ul>
</div>
